@layer base {
  html {
    font-family: Inter, system-ui, sans-serif;
  }
}

@layer components {
  .pageheader {
    @apply mt-12 mb-8 text-center font-heebo text-3xl font-bold lg:text-4xl;
  }
  .sectionheader {
    @apply mb-4 text-2xl font-semibold;
  }
}
