@import "./fonts.css";
@import "./ui.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply bg-teal-50;
  overflow-y: scroll;
}

main {
  margin-bottom: 2rem;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin: 1rem 0;
}

h2 {
  font-size: 1.5rem;
  margin: 1rem 0;
}

/* Anchortags in text */
a {
  text-decoration: underline;
  color: hotpink;
}

a:hover {
  color: darkblue;
}
